.example {
  margin-top: 5%;
}
body {
  padding-right: 0 !important;
}

.pre-loader-center {
  float: none;
  text-align: center;
}
.modal-open, .modal-open .navbar-fixed-top {
  margin-right: auto !important;
}
.modal {
  overflow-y: auto;
}

.modal-error {
  background-color: $state-danger-bg !important;
  color: $state-danger-text;
}

.modal-body-overflow {
  overflow-y: auto;
}